body{
    background-image: url(EAPS6AkWwAENjJC.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#l{
    color: white;
}
li {
    float: left;
    padding: 15px 15px;
    text-decoration: none;
}
li a{
    text-decoration: none;
    color: white;
}
li a, .lounge{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
}
ul{
    float: right;
    list-style-type: none;  
    overflow: hidden;
}
li.dropdown{
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: teal;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0,0, 0.2);
    z-index: 1;
}
.dropdown-content a{
    color: teal;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown-content a:hover{background-color: #f1f1f1;}
