body{
	background-image: url(jarritos-mexican-soda-c97JNVXzmWA-unsplash.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}
h1{
	text-align: center;
	font-size: 100px;
	position: 
}
h2{
	text-align: center;
	font-size: 70px;
	position: absolute;
}

